body {
  min-width: 960px;
  margin: 0;
  padding: 0;
  background: #000000 url("../pictures/background2.jpg") no-repeat center top;
  color: #ffffff;
  font-family: 'PT Sans Narrow', sans-serif;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  text-transform: uppercase;
}

.main-header {
  margin-bottom: 60px;
}

.container {
  width: 940px;
  margin: 0px;
  margin-right: auto;
  margin-left: auto;
  padding: 0px;
  padding-right: 10px;
  padding-left: 10px;
}

/* псевдораспорка */
.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.main-navigation {
  width: 780px;
  /* только для сетки */
  min-height: 72px;

  float: left;
}

.user-block {
  width: 140px;
  /* только для сетки */
  min-height: 72px;

  float: right;
}

.index-logo {
  width: 368px;
  height: 204px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 25px;
}

.features-item {
  float: left;
  width: 300px;
  /* только для сетки */
  min-height: 172px;

  margin-right: 20px;
}

.features-item:last-child {
  margin-right: 0px;
}


/* Рамки для блочков */
.container {
  border: 1px solid rgb(44, 31, 221);
}
.main-header {
  border: 1px solid rgb(2, 105, 133);
}
.main-navigation {
  border: 1px dotted rgb(255, 0, 183);
}
.user-block {
  border: 1px dotted rgb(0, 255, 25);
}
.index-logo {
  border: 1px solid rgb(217, 110, 81);
}
.index-logo img {
  border: 1px dotted rgb(212, 255, 0)
}
/* .features {
  border: 1px dotted rgb(115, 209, 235);
}
.features-item {
  border: 1px dotted rgb(198, 2, 34);
} */
