body {
  min-width: 960px;
  margin: 0;
  padding: 0;
  background: #000000 url("../pictures/background2.jpg") no-repeat center top;
  color: #ffffff;
  font-family: 'PT Sans Narrow', sans-serif;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  text-transform: uppercase;
}


.container {
  width: 940px;
  margin: 0px;
  margin-right: auto;
  margin-left: auto;
  padding: 0px;
  padding-right: 10px;
  padding-left: 10px;
}

.main-header {
  margin-bottom: 60px;
  background-color: #000000;
  color: #ffffff;
}

.main-header-layout {
  display: flex;
  justify-content: space-between;
}

.main-navigation {
  width: 780px;
  min-height: 70px;
}

/* правильно ли? */
.main-navigation ul {
  display: flex;
  justify-content: flex-start;
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 20px;
}

.main-navigation a {
  display: block;
  text-decoration: none;
  color: #ffffff;
  padding-top: 25px;
  padding-right: 20px;
  padding-bottom: 25px;
  padding-left: 20px;
}

.main-navigation a:hover {
  background: #242424;
}

.user-block {
  display: flex;
  justify-content: flex-end;
  max-width: 140px;
  min-height: 70px;
}

.login {
  display: block;
  position: relative;
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
  color: #ffffff;
  padding-top: 25px;
  padding-right: 20px;
  padding-bottom: 25px;
  padding-left: 53px;
}

.login:hover {
  background: #242424;
}

.login::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 18px;
  top: 27px;
  left: 21px;
  background: transparent url("../Pictures/sprite.png") no-repeat;
  background-position: -10px -10px;
  opacity: 0.3;
}

.login:hover::before {
  opacity: 1;
}

.index-logo {
  width: 368px;
  height: 204px;
  margin: 0;
  margin-right: auto;
  margin-bottom: 25px;
  margin-left: auto;
  background: url
}

.index-logo img {
  width: 368px;
  height: 204px;
}

.features {
  margin-bottom: 80px;
}

.features-layout {
  display: flex;
  justify-content: space-between;
}

.features-item {
  width: 300px;
  text-align: center;
}

.features-name {
  display: block;
  font-size: 30px;
  line-height: 42px;
  margin-bottom: 66px;
  padding-bottom: 35px;
}

.features-item p {
  padding-right: 10px;
  padding-left: 10px;
}

/* говно костыль для марджина между блоками */
.index-content {
  margin-bottom: 35px;
  padding: 50px 80px;
}

.index-content-layout {
  display: flex;
  justify-content: space-between;
}

.index-content-left {
  width: 380px;
  /* мин-высота только для оформления сетки */
  min-height: 330px;
}

.index-content-right {
  width: 310px;
  /* мин-высота только для оформления сетки */
  min-height: 330px;
}

.main-footer {
  min-height: 194px;
  margin-top: 65px;
}

.footer-layout {
  display: flex;
  justify-content: space-between;
}

.footer-contacts {
  width: 320px;
  margin-right: auto;
}

.footer-social {
  width: 180px;
}

.footer-copyright {
  width: 160px;
  margin-left: auto;
}


/* Стили для рамок */
body {
  border: 1px solid rgb(151, 0, 255)
}

.container {
  border: 1px solid rgb(72, 160, 193)
}

.main-header {
  border: 1px solid rgb(242, 159, 229)
}

.user-block {
 border: 1px solid rgb(223, 116, 95);
}

.login {
  border: 1px dotted rgb(209, 252, 85);
}

.features {
  border: 1px solid rgb(223, 116, 95);
}

.features-layout {
  border: 1px dotted rgb(209, 252, 85);
}

.features-item {
  border: 1px dotted rgb(192, 72, 221);
}

.index-content {
  border: 1px dotted rgb(170, 41, 232);
}

.index-content-left {
  border: 1px dotted rgb(77, 203, 224);
}

.index-content-right {
  border: 1px dotted rgb(251, 21, 24);
}

.main-footer {
}

.footer-layout {
}

.footer-contacts {
}

.footer-social {
}

.footer-copyright {
}

/* спрайты*/

.sprite {
    background-image: url(../Pictures/sprite.png);
    background-repeat: no-repeat;
    display: block;
}

.sprite--icon-login {
    width: 20px;
    height: 18px;
    background-position: -10px -10px;
}

.sprite-fb {
    width: 12px;
    height: 22px;
    background-position: -10px -48px;
}

.sprite-inst {
    width: 21px;
    height: 21px;
    background-position: -10px -90px;
}

.sprite-vk {
    width: 25px;
    height: 16px;
    background-position: -10px -131px;
}
