body {
  min-width: 960px;
  margin: 0;
  padding: 0;
  background: #000000 url("../pictures/background2.jpg") no-repeat center top;
  color: #ffffff;
  font-family: 'PT Sans Narrow', sans-serif;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  text-transform: uppercase;
}

.main-header {
  margin-bottom: 60px;
  color: #ffffff;
  background-color: #000000;
}

.container {
  width: 940px;
  margin: 0px;
  margin-right: auto;
  margin-left: auto;
  padding: 0px;
  padding-right: 10px;
  padding-left: 10px;
}

/* псевдораспорка */
.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.main-navigation {
  width: 780px;
  float: left;
}

.main-navigation ul {
  list-style: none;
  margin: 0;
  padding: 0;
  /* Размер шрифта 0, чтобы убрать пробелы */
  font-size: 0;
}

.main-navigation li {
  display: inline-block;
  /* Вертикальное выравнивание */
  vertical-align: top;
  /* Возвращаем размер шрифта */
  font-size: 16px;
  line-height: 20px;
}

.main-navigation a {
  display: block;
  color: #ffffff;
  text-decoration: none;
  padding-top: 26px;
  padding-right: 20px;
  padding-bottom: 26px;
  padding-left: 20px;
}

.main-navigation a:hover {
  background-color: #242424;
}

.user-block {
  max-width: 140px;
  float: right;
}

.login {
  position: relative;
  display: inline-block;
  vertical-align: top;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  text-decoration: none;
  padding-top: 26px;
  padding-right: 20px;
  padding-bottom: 26px;
  padding-left: 53px;
}

.login:hover {
  background-color: #242424;
}

.login::before  {
  content: "";
  top: 27px;
  left: 22px;
  position: absolute;
  width: 18px;
  height: 16px;
  background: transparent url("../pictures/sprite.png") no-repeat;
  background-position: -10px -10px;
  opacity: 0.3;
}

.login:hover::before {
  opacity: 1;
}

.index-logo {
  width: 368px;
  height: 204px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 25px;
}

.index-logo img {
  width: 368px;
  height: 204px;
}

.features {
  margin-bottom: 80px;
}

.features-item {
  float: left;
  width: 300px;
  margin-right: 20px;
  text-align: center;
}

.features-item:last-child {
  margin-right: 0px;
}

.features-name {
  display: block;
  position: relative;
  font-size: 30px;
  line-height: 42px;
  margin-bottom: 30px;
  padding-bottom: 36px;
}

.features-name::before {
  content: "";
  position: absolute;
  display: block;
  width: 20px;
  height: 20px;
  bottom: 0;
  left: 50%;
  margin-left: -10px;
  transform: rotate(45deg);
  background-color: #ffffff;
}

.features-item p  {
  margin: 10px;
  margin-bottom: 0;
}

.index-content {
  margin-bottom: 35px;
  padding: 50px 80px;
  background:
    url("../Pictures/index-content-background-separator.png") no-repeat center,
    #f8f5f2 url("../Pictures/index-content-background.jpg");
  color: #000000;
}

.index-content-left {
  float: left;
  width: 380px;
}

.index-content-right {
  float: right;
  width: 300px;
}

.index-content-title {
  font-size: 30px;
  line-height: 42px;
  margin: 0;
  margin-bottom: 26px;
}

.index-content p {
  margin: 0px;
  margin-bottom: 25px;
}

.news-preview {
  padding: 0;
  margin: 0;
  padding-right: 35px;
  list-style: none;
}

.news-preview li {
  margin-bottom: 25px;
}

.news-preview p {
  margin-bottom: 0;
}

.news-preview time {
  text-transform: lowercase;
}

.btn {
  display: inline-block;
  padding-top: 10px;
  padding-right: 33px;
  padding-bottom: 10px;
  padding-left: 33px;
  color: #ffffff;
  background-color: #000000;
  border: none;
  cursor: pointer;
  text-decoration: none;
  font-family: 'PT Sans Narrow', sans-serif;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  text-transform: uppercase;
  vertical-align: top;
  text-align: center;
  margin-right: 16px;
}

.btn:hover,
.btn:active {
  background-color: #663d15;
}

.btn.disabled,
.btn:disabled {
  cursor: default;
  opacity: 0.5;
}

.btn.disabled:hover,
.btn:disabled:hover {
  background-color: #000000;
}

.gallery {
  position: relative;
  height: 260px;
}

.gallery-content {
  width: 286px;
  height: 164px;
  margin: 0;
  background-color: rgb(181, 181, 181);
  border: 7px solid #ffffff;
}

.gallery-content img {
  width: 286px;
  height: 164px;
}







.main-footer {
  margin-top: 65px;
  padding-top: 65px;
  padding-bottom: 40px;
}

.footer-contacts {
  float: left;
  width: 320px;
  margin-right: 60px;
}

.footer-social {
  float: left;
  width: 160px;
}

.footer-copyright {
  float: right;
  width: 150px;
}


/* Рамки для блочков */
.container {
  background-color: rgb(44, 31, 221, 0.2);
}
.main-header {
  background-color: rgb(2, 105, 133, 0.2);
}
.main-navigation {
  background-color: rgb(255, 0, 183, 0.2);
}
.user-block {
  background-color: rgb(0, 255, 25, 0.2);
}
.index-logo {
  background-color: rgb(217, 110, 81);
}
.index-logo img {
  background-color: rgb(212, 255, 0, 0.2)
}
.features {
  background-color: rgb(115, 209, 235, 0.2);
}
.features-item {
  background-color: rgb(198, 2, 34, 0.2);
}
.index-content {
  background-color: rgb(108, 96, 5, 0.2);
}
.index-content-left,
.index-content-right  {
  background-color: rgb(250, 255, 0, 0.2);
}
.footer-social,
.footer-contacts,
.footer-copyright {
  background-color: rgba(144, 116, 106, 0.2);
}

/* спрайт с картинками */
.sprite {
    background-image: url(spritesheet.png);
    background-repeat: no-repeat;
    display: block;
}

.sprite--icon-login {
    width: 18px;
    height: 16px;
    background-position: -10px -10px;
}

.sprite-fb {
    width: 12px;
    height: 22px;
    background-position: -10px -46px;
}

.sprite-inst {
    width: 21px;
    height: 21px;
    background-position: -10px -88px;
}

.sprite-vk {
    width: 25px;
    height: 16px;
    background-position: -10px -129px;
}
